<html>
<head>
    <title>{{ error_code }} error</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div class="container">
        <div class="hero-unit">
            <h1>{{ error_code }}</h1>
            <p>{{ error_message }}</p>
        </div>
    </div>
</body>
</html>