{% extends "layout.html" %}
{% block body %}
    <div class="hero-unit">
        <h1>Welcome to the AppStore!</h1>
        <p>At the AppStore, you can download Google App Engine applications that probably do really cool stuff! And if there aren't any cool apps here, you can upload some!</p>
        {% if not user %}
        <p>
            <a href="/login" class="btn btn-primary btn-large">Log in</a>
            <a href="/signup" class="btn btn-success btn-large">Sign Up</a>
        </p>
        {% endif %}
    </div>
{% endblock %}