<!DOCTYPE html>

<html>
<head>
    <title>AppScale AppStore</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">AppStore</a>
                    <div class="btn-group pull-right">
                        <button class="btn"><i class="icon-user"></i>
                            {% if user %}
                                {{ user.name }}
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="logout">Logout</a></li>
                                </ul>
                            {% else %}
                                Anonymous
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="/login">Log In</a></li>
                                    <li><a href="/remind">Reminder</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                </ul>
                            {% endif %}                            
                        </button>
                    </div>
            </div>
        </div>
    </div>

    <div class="container main">
        {% block body %}
        {% endblock %}
    </div>
    
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <h5>&copy; AppScale Systems, Inc. 2012</h5>
            </div>
        </div>
    </div>
</body>
</html>