{% extends "layout.html" %}
{% block body %}
    <form class="form-login" action="/login" method="POST">
        <h2>Log In</h2>
        {% if error %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ error }}
                </div>
        {% endif %}
        <input type="email" class="input-block-level" placeholder="Email address" name="email" required>
        <input type="password" class="input-block-level" placeholder="Password" name="password" required>
        <label class="checkbox">
            <input type="checkbox" name="remember"> Remember me
        </label>
        <button class="btn btn-large btn-primary form-btn" type="submit">Sign in</button>
        <a href="/remind">Forgot your password?</a>
        <p class="form-footer"> <a href="/signup">New here? Create an Account</a>
    </form>
{% endblock %}