{% extends "layout.html" %}
{% block body %}

<form class="form-reset" action="/remind" method="POST">
    <h2>Remind password</h2>
    {% if success %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ success }}
            </div>
    {% endif %}
    {% if error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ error }}
            </div>
    {% endif %}
    <div class="input-append">
        <input type="email" class="span2" placeholder="Email address" name="email" required>
        <button type="submit" class="btn btn-danger">Reset</button>
    </div>
</form>
{% endblock %}