{% extends "layout.html" %}
{% block body %}
    <form class="form-reset" action="/reset/{{token}}" method="POST">
        <h2>Reset password</h2>
        {% if error %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ error }}
                </div>
        {% endif %}
        <input type="email" class="input-block-level" placeholder="Email" name="email" required>
        <input type="password" class="input-block-level" placeholder="Password" name="password" required>
        <input type="password" class="input-block-level" placeholder="Confirm" name="confirm" required>
        <button class="btn btn-large btn-danger form-btn" type="submit">Change password</button>
    </form>
{% endblock %}