{% extends "layout.html" %}
{% block body %}
        <form class="form-signup" action="/signup" method="POST">
            <h2>Create an Account</h2>
            <input type="text" class="input-block-level" placeholder="Name" name="name" required>
            <input type="email" class="input-block-level" placeholder="Email address" name="email" required>
            <input type="password" class="input-block-level" placeholder="Password" name="password" required>
            <button class="btn btn-large btn-success" type="submit">Sign up</button>
            <p class="form-footer"> <a href="/login">Already have an account? Log In.</a>
        </form>
{% endblock %}