body {
    background-color: #F5F5F5;
}

.main {
    margin-top: 25px;
}

.hero-unit {
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-login, .form-signup, .form-reset {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    max-width: 300px;
    padding: 10px 20px;
}

.form-reset {
    text-align: center;
}

.form-footer {
    text-align: center;
    margin: 0;
    border-top: 1px dotted black;
    margin-top: 10px;
    padding-top: 10px;
}

.form-btn {
    margin-right: 10px;
}